.task{
    background-color: rgb(126, 197, 255);
    margin-top: 5px;
    padding:10px 20px;
    cursor: pointer;
}

.task.reminder{
    border-left: 8px solid rgb(252, 38, 10);
}

.task h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}